<!-- Listing all users block -->
<div class="container list-group-item">
  <ul class="list-group ">
    <h3>List of All Users</h3>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users, index as i">
        <td>
          {{ i }}
        </td>
        <td>
          <input type="text" name="username" [(ngModel)]="user.name" class="form-control-plaintext">
        </td>
        <td>
          <select class="form-control-plaintext" [(ngModel)]="user.role" name="role">
            <option value="1">User (1)</option>
            <option value="2">Group Admin (2)</option>
            <option value="3">Super Admin (3)</option>
          </select>
        </td>
        <td>
          <button (click)="updateUser(user)" class="btn btn-success">Update</button>
          <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Register user block -->
<div class="container list-group-item">
  <h3>Register a User</h3>
    
      <form (submit)="createUser(username, password, role)">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="username">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter Password" [(ngModel)]="password">
          </div>

        <div class="form-group">
          <label>Role</label>
          <select class="form-control" [(ngModel)]="role" name="role">
            <option value="1">User</option>
            <option value="2">Group Admin</option>
            <option value="3">Super Admin</option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
      </form>
</div>

