<!-- Listing all groups block -->
<div class="container list-group-item">
    <ul class="list-group ">
      <h3>List of All Groups</h3>
  
      <li class="list-group-item" *ngFor="let group of groups, index as i">
        ID: {{ i }} <br/>
        Group Title: {{ group.groupname }}
      </li>
    </ul>
  </div>
  
  <!-- Create new group block -->
  <div class="container list-group-item">
    <h3>Create New Group</h3>
      
        <form (submit)="createGroup(groupname)">
          <div class="form-group">
            <label>Group Title</label>
            <input class="form-control" name="groupname" placeholder="Enter Group Title" [(ngModel)]="groupname">
          </div>
   
          <button class="btn btn-primary" type="submit">Register</button>
        </form>
  </div>
